<div class="bg-lime-300">
  <h4>Featured Collection</h4>
  <p>ドーナツコレクション</p>
</div>
{% schema %}
{
  "name": "featured-collection",
  "settings": [{
    "id": "title",
    "type": "text",
    "label": "title-text",
    "default": "featured-collection"
  }]
}
{% endschema %}