<div>
  <img src="{{ 'donuts-top.jpg' | asset_img_url: 'grande' }}" alt="I am the hero" class="w-full h-screen object-cover">
  <a class="py-2 px-4 bg-rose-600 text-white rounded-full hover:bg-rose-300 duration-200" href="/pages/about">Introduction</a>
  <a class="py-2 px-4 bg-rose-600 text-white rounded-full hover:bg-yellow-300 duration-200" href="/collections/recommended-donuts">おすすめドーナツ</a>

</div>