<section class="max-w-3xl mx-auto bg-pink-100">
  <h3 class="my-4 text-2xl font-bold">SALE</h3>
  <div class="grid grid-cols-2 gap-4">
    <div class="p-4">
      <img src="{{ 'bread.png' | asset_img_url }}" alt="photo of bread" class="w-full ">
      <h4>商品名</h4>
      <p>お値段</p>
    </div>
    <div class="p-4">
      <img src="{{ 'bread.png' | asset_img_url }}" alt="photo of bread" class="w-full ">
      <h4>商品名</h4>
      <p>お値段</p>
    </div>
    <div class="p-4">
      <img src="{{ 'bread.png' | asset_img_url }}" alt="photo of bread" class="w-full ">
      <h4>商品名</h4>
      <p>お値段</p>
    </div>
    <div class="p-4">
      <img src="{{ 'bread.png' | asset_img_url }}" alt="photo of bread" class="w-full ">
      <h4>商品名</h4>
      <p>お値段</p>
    </div>
  </div>
</section>